
#container  {  	
	margin: 1em auto;  	
	width: 800px;  	
	background: #CCF2FF;  
	}  

#menu  {  
    width: 380px;  	
    background: #CCF2FF;  
    }

#contents  {  	
    float: right;  	
    width: 415px;  
    height: 300px;	
    background: #CCF2FF;  
    border: 1px solid #CCF2FF; 
    }

body  {  		
	background: #CCF2FF;  
	}

h1 {
    margin: 10px;
    padding-top: 40px;
    padding-left: 100px;
    color: 	#FF3F00;
    font: 600 40px Nunito, sans-serif;
    }

form {
    width: 390px;
    height: 50px;
    padding: 0;
    background: #CCF2FF;
    border: 10px solid #CCF2FF;
    outline: none;
    display: flex;
    }
    
.inputtext {
    width: 400px;
    height: 50px;
    background: #F5F8FA;
    border: 1px solid rgb(199, 195, 195);
    outline: none;
    display: flex;
    border-radius: 20px;
    }

label{
    padding-left: 20px;
    font: 600 15px Nunito, sans-serif;
    }

a{
    padding-left: 130px;
    font: 500 15px Nunito, sans-serif;
    }

.imagelogin{  	
    padding-top: 80px;
    padding-left: 0px;
    float: left;
    width: 350px;
    height: 350px;
    display: flex;
    }

button{
    float: center;
    width: 400px;
    height: 60px;
    border: 0;
    cursor: pointer;
    background: #FF6532;
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 600 18px Nunito, sans-serif;
    transition: background-color 0.2s;
    }

