body  {  		
	background: #CCF2FF;  
	}

#title{
    width: 200px;
    height: 100px;
    padding-left: 40px;
    display: flex;
}

#conteiner{
    width: 600px;
    height: 70px;
    padding-left: 80px;
    display: flex;
}

#menu{
    width: 600px;
    height: 70px;
    padding-left: 80px;
    display: flex;
}

#content{
    width: 580px;
    height: 300px;
    padding-left: 80px;
    font: 500 20px Nunito, sans-serif;
    color: rgb(10, 41, 82);
    display: inline-block;
}

user {
    float: right;
    padding-top: 20px;
    padding-right: 100px;
    color: rgb(10, 41, 82);
    font: 500 25px Nunito, sans-serif;
    }

h1 {
    padding-top: 40px;
    color: 	#FF3F00;
    font: 600 40px Nunito, sans-serif;
    }

h2 {
    padding-top: 40px;
    padding-left: 40px;
    color: 	rgb(10, 41, 82);
    font: 600 30px Nunito, sans-serif;
    }  

aside{
    float: left;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 250px;
    border-right: 1px solid rgb(199, 195, 195);
}

button{
    float: center;
    width: 250px;
    height: 60px;
    border: 1px solid rgb(199, 195, 195);
    cursor: pointer;
    background: #ffff;
    color: rgb(10, 41, 82);
    display: flex;
    justify-content: left;
    align-items: center;
    font: 600 18px Nunito, sans-serif;
    transition: background-color 0.2s;
    }

i {
    width: 20px;
    height: 20px;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
}

.inputtext {
    width: 250px;
    height: 40px;
    border: 1px solid rgb(199, 195, 195);
    outline: none;
    display: flex;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
    background: #F5F8FA;
    color: rgb(10, 41, 82);
    font: 500 18px Nunito, sans-serif;
    }

.inputdate {
    width: 120px;
    height: 40px;
    border: 1px solid rgb(199, 195, 195);
    outline: none;
    display: flex;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
    background: #F5F8FA;
    color: rgb(10, 41, 82);
    font: 500 14px Nunito, sans-serif;
    }

.confirm-button{
    width: 80px;
    height: 40px;
    margin-right: 30px;
    border: 1px solid rgb(199, 195, 195);
    background: #F5F8FA;
    float: right;
    color: rgb(10, 41, 82);
    font: 500 14px Nunito, sans-serif;
}

.function-button{
    width: 150px;
    height: 40px;
    margin-right: 30px;
    border: 1px solid rgb(199, 195, 195);
    background: #F5F8FA;
    float: left;
    justify-content: left;
    align-items: center;
    color: rgb(10, 41, 82);
    font: 500 14px Nunito, sans-serif;
}

label{
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(10, 41, 82);
}

label1{
    padding-left: 255px;
}

label2{
    padding-left: 220px;
}

table{
    width: 630px;
    color: rgb(10, 41, 82);
    border: 1px solid rgb(199, 195, 195);
    font: 12px Nunito, sans-serif;
}

